table>thead>tr>th.mainHeader { text-align: center; }

table>thead>tr>th.subHeader { border-top: none; color: #55A0D3; text-align: right; margin: .1em; font-size: smaller; }

table>thead>tr>th.vsHeader { vertical-align: middle; text-align: center; }

table>thead>tr>th.rmeCol,td.rmeCol { max-width: 47px; }

td.vsCol { font-weight: bold; text-align: center; }

table>tbody>tr>th { font-style: italic; font-weight: normal; }

.table>tbody>tr>td { vertical-align: middle; }

td.start { text-align: center; }

.numeric { text-align: right; }

/* Spinner from http://www.bootply.com/128062# */

.spinning {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}